/* @font-face {
    font-family: 'Genshin';
    src: url(assets/font/zh-cn.ttf);
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  background-color: rgb(24, 24, 24);
  color: rgb(216, 216, 216);
  font-family: 'Roboto','sans-serif';
}

body {

  margin: 10px;
  padding: 0px;
}
.test {
  color: rgb(27, 224, 228);
  font-size: 48px;
  
}