@font-face {
    font-family: 'Genshin';
    src: url(assets/font/zh-cn.ttf);
}

* {
  background-color: rgb(24, 24, 24);
  color: rgb(216, 216, 216);
}

body{
    font-family: 'genshin';
    margin: 10px;
    padding: 0px;
}